@charset "UTF-8";
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #eb5175;
  --red: #FD5D93;
  --orange: #f06161;
  --yellow: #ffc107;
  --green: #00F2C3;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #f06161;
  --secondary: #6c757d;
  --success: #00F2C3;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #FD5D93;
  --light: #f8f9fa;
  --dark: #343a40;
  --font-family: sans-serif;
}

/* Index page*/
.banner-box {
  margin-top: 200px;
  text-align: center;
}

.banner-box a {
  color: black;
  font-size: 100px;
  font-weight: bold;
}

.banner-box :hover {
  text-shadow: 0 0 20px #007bff;
}

/* Login page*/
#login-pane {
  margin-top: 40px;
  margin-left: 30%;
  width: 40%;
  padding: 10px 10px 10px 10px;
}

#login-pane p {
  padding: 5px 5px 5px 5px;
}

/* Register page*/
#register-pane {
  margin-top: 40px;
  margin-left: 30%;
  width: 40%;
  padding: 10px 10px 10px 10px;
}

#register-pane p {
  padding: 5px 5px 5px 5px;
}

#profile-pic-uploader {
  text-align: center;
}

/* Profile page */
#user-info-pane {
  float: left;
  width: 30%;
  height: 100vh;
  padding-top: 100px;
  padding-left: 40px;
  background-color:lightgray;
}

#user-profile-pic-container {
  align-content: center;
  margin-bottom: 40px;
}

#user-profile-pic-container img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.user-action-pane {
  margin-left: 30%;
  padding: 30px 30px 30px 30px;
  float: left;
  width: 70%;
}


/* Race page */
#timer {
  padding: 20px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.pane {
  padding: 10px 10px 10px 10px;
}

#left-pane {
  float: left; width: 30%; height: 100vh;
}

#mid-pane {
  float: left; width: 40%; height: 100vh; border-style: none none none ridge;
}

#task-pane {
  height: 50%; display: flex; overflow: auto; padding: 20px;
}

#racer-pane {
  height: 50%; overflow-y: scroll; padding: 10px; border-style: ridge none none none;
}

#right-pane {
  float: left; width: 30%; height: 100vh; border-style: none none none ridge;
}

#chat-pane {
  height: 80%; overflow:auto; padding: 20px;
}

#input-pane {
  height: 20%;
  padding: 10px;
  vertical-align: middle;
}

.chat-message-container {
  padding:2px;
}

.message-info {
  background-color:cyan;
}

.message-user {
  background-color: lightgrey;
}

.chat-message-container p{
  padding: 0px 10px 10px 10px;
}

#chat-input {
  float: left;
  height: 100%; 
  width: calc(100% - 120px); 
  display: inline;
}

#send-btn {
  float: left;
  margin-left: 20px;
  display: inline;
  width: 80px;
}

/* Initiate race */
.race-info-pane {
  padding: 30px 30px 30px 30px;
}

.race-info-pane p, h3 {
  padding: 5px 5px 5px 5px;
}

#race-introduction-box-id {
  height: 100px;
  width: 50%;
  padding: 10px 10px 10px 10px;
}

#complete_overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  cursor: pointer;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}


input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  word-break: break-all;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}


hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}

.blockquote-footer::before {
  content: "\2014\00A0";
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 90%;
  color: #6c757d;
}

code {
  font-size: 87.5%;
  color: #eb5175;
  word-break: break-word;
}

a > code {
  color: inherit;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1300 - 300)));
  opacity: .9;
  color: #111;
  letter-spacing: .6px;
}

.xs-font {
  font-size: 13px;
  opacity: .5;
}

.title {
  font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1300 - 300)));
}


/* Buttons */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  margin: 10px 10px 10px 10px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.1rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  filter: brightness(150%);
}

.btn-primary {
  color: black;
  background-color:#007bff;
}

.btn-secondary {
  color: black;
  background-color:grey;
}

.btn-action {
  color:black;
  background-color:#ffc107;
}

.btn-info {
  color:black;
  background-color:darkcyan;
}


/* Tables */
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table-striped {
  width: 100%;
  border: black 1px;
}

.table-striped th,
.table-striped td {
  padding: 10px 10px 10px 10px;
}

.table-striped th {
  background-color:rgb(152, 181, 235); /* Set background color for header */
  border-bottom: black 1px;
}

.table-striped tr:nth-child(even) {
  background-color:rgb(229, 233, 247); /* Set background color for even rows */
}

.table-striped tr:nth-child(odd) {
  background-color:rgb(220, 220, 221); /* Set background color for odd rows */
}