<!DOCTYPE html>
<html lang="en-US">
  
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/imgs/favicon.ico">
  </head>

  <body>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'></script>
    <script type="text/javascript" src="/static/common.js"></script>
    <script type="text/javascript" src="/static/login.js"></script>

    <div id="login-page-body">
      <div id="login-pane">
        <form>
          <label for="username"><b>Username</b></label><br>
          <input type="text" id="username_box_id" name="username_box"><br>
          <label for="password"><b>Password</b></label><br>
          <input type="password" id="password_box_id" name="password_box"><br>
        </form>
        <p><button id="login_btn" class="btn btn-primary" onclick="login();">Log me in</button></p>
        <p>New user? <a href="/register">Register here</a>.</p>
      </div>
    </div>

  </body>

</html>
