<!DOCTYPE html>
<html lang="en-US">
  
  <head>
    <link rel="stylesheet" type="text/css" href="/sprinting/static/style.css" />
  </head>

  <body>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'></script>
    <script type="text/javascript" src="/sprinting/static/common.js"></script>
    <script type="text/javascript" src="/sprinting/static/profile.js"></script>

    <div id="profile-main-container">
      
      <div id="user-info-pane">
        <img class="user-profile-pic" src="/sprinting/static/imgs/default-profile-pic.jpg">
        <div id="user-info">
          User info
        </div>
      </div>
      
      <div class="user-action-pane">
          <div>
            <h3>Plan a new sprint</h3>
            <p>Plan a new sprint for your team:</p>
            <ul>
              <li>Choose a descriptive title for the sprint event.</li>
              <li>Write an introduction, setting clear goals and introducing main methodology.</li>
              <li>Define specific tasks to be completed.</li>
              <li>Set a timer for the event.</li>
            </ul>
            <button id="new_sprint_btn" class="btn btn-action" onclick="new_sprint();">Start sprint planning</button><br>
          </div>
          <div>
            <h3>Join a sprint</h3>
            <p>If your team has an exiting sprint event, you can ask the creator for the sprint ID and paste it below to join.</p>
            <input type="text" id="sprint_id_box" placeholder="sprint id shared by others">
            <button id="join_sprint_btn" class="btn btn-action" onclick="join_sprint();">Join sprint</button><br>
          </div>
          
      </div>

    </div>

  </body>

</html>