<!DOCTYPE html>
<html lang="en-US">
  
  <head>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>

  <body>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'></script>
    <script type="text/javascript" src="/static/common.js"></script>
    <script type="text/javascript" src="/static/race.js"></script>

    <div id="left-pane" class="pane">
      <div id="info-zone" style="height:80%; text-align: center; padding: 20px">
        title, introduction, duration and initiator will be here.
      </div>
      <div id="btn-zone" style="height:20%;">
        <div style="padding: 10px; text-align: center;">
          <button id="join_btn" onclick="join_race();" class="btn btn-info">Join!</button><br>
        </div>
        <div style="padding: 10px; text-align: center;">
          <button id="invite_btn" onclick="copy_invitation();" class="btn btn-info">Invite</button>
        </div>
      </div>
    </div>

    <div id="mid-pane" class="pane">

      <div id="task-pane" class="pane">
        <table id="tasks-table" class="table table-striped" style="width:100%">
          <thead style="background-color:#f8f9fa;">
            <tr>
              <th style="width: 50%">Task</th>
              <th style="width: 20%">Credits</th>
              <th style="width: 30%">Action</th>
            </tr>
          </thead>
          <tbody id="tasks-tbody">
            <!-- data should be included here -->
          </tbody>
          <template id="task-row">
            <tr>
              <td class="record"></td>
              <td></td>
              <td></td>
            </tr>
          </template>
        </table>
      </div>
      
      <div id="racer-pane" class="pane">
        <table id="racers-table" class="table table-striped" style="width:100%">
          <thead style="background-color:#f8f9fa;">
            <tr>
              <th style="width: 50%">Racer</th>
              <th style="width: 50%">Standing</th>
            </tr>
          </thead>
          <tbody id="racers-tbody">
            <!-- data should be included here -->
          </tbody>
          <template id="racer-row">
            <tr>
              <td class="record"></td>
              <td></td>
            </tr>
          </template>
        </table>
      </div>

    </div>

    <div id="right-pane" class="pane">
      <div id="chat-pane">
      </div>
      <div id="input-pane">
        <textarea id="chat-input" class="form-control" type="text"></textarea>
        <button id="send-btn" class="btn btn-info" onclick="send_chat_message();">Send</button>
      </div>
    </div>

  </body>

</html>
