<!DOCTYPE html>
<html lang="en-US">
  
  <head>
    <link rel="stylesheet" type="text/css" href="/sprinting/static/common.css" />
    <link rel="stylesheet" type="text/css" href="/sprinting/static/register.css" />
  </head>

  <body>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'></script>
    <script type="text/javascript" src="/sprinting/static/common.js"></script>
    <script type="text/javascript" src="/sprinting/static/register.js"></script>

    <div id="register-pane">
      <p>
        <img class="user-profile-pic" src="/sprinting/static/imgs/default-profile-pic.webp">
      </p>
      <form>
        <input type="text" id="username_box_id" name="username_box" placeholder="Name yourself"><br>
        <input type="password" id="password_box_id" name="password_box" placeholder="Type password"><br>
        <input type="password" id="confirm_password_box_id" name="confirm_password_box" placeholder="Retype password"><br>
      </form>
      <p>
        <button id="register_btn" class="btn btn-primary" onclick="register()">Register</button>
      </p>
    </div>

  </body>

</html>
