<!DOCTYPE html>
<html lang="en-US">
  
  <head>
    <style>
      .button {
        background-color: #ADD0E9;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        font-size: 16px;
      }
    </style>
  </head>

  <body>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'></script>
    <script type="text/javascript" src="/static/index.js"></script>

    <div>
      <section id="title-section">
        <h1>Racing</h1>
      </section>
    </div>

    <div>
      <section id="button-section">
        <button id="start-btn">Get started</button>
      </section>
    </div>

    <div>
      <section id="steps">
      </section>
    </div>

  </body>

</html>
