<!DOCTYPE html>
<html lang="en-US">
  <head>
      <link rel="stylesheet" type="text/css" href="../static/style.css">
      <link rel="icon" type="image/x-icon" href="../static/imgs/favicon.ico">
    </head>
  
    <body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="../static/common.js"></script>
      <script type="text/javascript" src="../static/initiate_race.js"></script>
  
      <div id="complete_overlay" style="padding: 10%;">
        <div style="background-color: white; padding: 10px;">
          <h3>Edit task</h3>
          <label><b>Task title</b></label><br>
          <input type="text" id="task_title_box_id"><br>
          <label><b>Description</b></label><br>
          <input type="text" id="description_box_id" style="height:200px; width:80%;"><br>
          <label><b>Assign credit(s)</b></label><br>
          <input type="number" id="credit_box_id">
          <div style="padding: 10px; text-align: center;">
            <button id="confirm_edit" class="btn btn-primary">Confirm Edit</button> <!-- onclick will be defined in script -->
            <button id="cancel_edit" class="btn btn-secondary" onclick="overlay_off();">Cancel</button>
          </div>
        </div>
      </div>
      
      <div style="padding:35px">
        <h3 for="race-title"><b>Title of race</b></h3><br>
        <input type="text" id="race-title-box-id"><br>
      </div>
  
      <div style="padding:35px">
        <h3 for="race-introduction"><b>Race introduction</b></h3><br>
        <input type="text" id="race-introduction-box-id"><br>
      </div>

      <div style="padding:35px">
        <h3 for="race-duration"><b>Duration (in minutes)</b></h3><br>
        <input type="number" id="race-duration-box-id"><br>
      </div>
  
      <div style="padding:35px">
        <div>
          <h3 for="task-list"><b>Task List</b></h3><br>
        </div>
        <div style="padding: 10px">
          <button id="add_task_btn" class="btn btn-action" onclick='add_task("new_tid")';> Add Task</button>
        </div>
        <div style="padding:10px">
          <table id="task-table" class="table table-striped" style="width:80%; padding:10px;">
            <thead>
              <tr>
                <td style="width:60%">Task</td>
                <td style="width:20%">Credits</td>
                <td style="width:20%">Actions</td>
              </tr>
            </thead>
            <tbody>
              <!-- data should be included here -->
            </tbody>
          </table>
          <template id="task_row">
            <tr id="task_row_n">
              <td class="record"></td>
              <td class="record"></td>
              <td class="record"></td>
            </tr>
          </template>
        </div>
        <div style="padding:10px">
          <button id="initiate-btn" class="btn btn-action" onclick="initiate();">Initiate</button>
        </div>
      </div>
  
  </body>
<html>
