<!DOCTYPE html>
<html lang="en-US">
  
  <head>
    <link rel="stylesheet" type="text/css" href="./static/style.css" />
    <link rel="icon" type="image/x-icon" href="./static/imgs/favicon.ico">
  </head>

  <body>

    <script type="text/javascript" src="./static/common.js"></script>
    <script type="text/javascript" src="./static/login.js"></script>

    <div id="login-page-body">
      <section id="main-section">
      <form>
        <h6 class="section-secondary-title">Username :</h6>
        <input class="form-control" type="text" placeholder="Example: Penguin2022" id="username_box_id" name="username_box"><br>
        <h6 class="section-secondary-title">Password:</h6>
        <input class="form-control" type="password" id="password_box_id" name="password_box"><br>
      </form>
      <button id="login_btn" onclick="login();">Log me in</button>
      <p>New user? <a href="./register">Register here</a>.</p>
      </section>
    </div>

  </body>

</html>
