<!DOCTYPE html>
<html lang="en-US">
  
  <head>
    <style>
      .button {
        background-color: #ADD0E9;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        font-size: 16px;
      }
    </style>
  </head>

  <body>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'></script>
    <script type="text/javascript" src="/static/profile.js"></script>

    <div id="tasks-div" style="float: left; width: 30%">
      <section id="timer" style="text-align: center; height: 80px">
      </section>
      <section id="tasks-list">
        <p> Tasks will show once race starts.
      </section>
    </div>

    <div id="racers-div" style="float: left; width: 40%">
      <section id="racers-title-section" style="text-align: center; height: 80px">
        Pool
      </section>
      <table id="racers-list">
        <thead>
          <tr>
            <td>Racer</td>
            <td>Bet</td>
          </tr>
        </thead>
        <tbody>
          <!-- data should be included here -->
        </tbody>
        <template id="racer-row">
          <tr>
            <td class="record"></td>
            <td><td>
          </tr>
        </template>
      </table>
    </div>

    <div id="tasks-div" style="float: left; width: 30%">
      <div id="announcements-div" style="vertical-align: top; height: 200px">
        Announcements
      <div>
      <div id="chat-div" style="vertical-align: top; height:200px">
        Chat
      <div>
    </div>

  </body>

</html>
